<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Html parser</title>
</head>
<body>
<form method="post" action="#" id="my_form">
    <fieldset>
        <legend>HTML parser</legend>
        <ol>
            <label for="url">Paster your url here</label>
            <input type="url" name="url" id="url" value="https://www.simbirsoft.com/"></br>
            <button type="submit">Get words count</button>
        </ol>
    </fieldset>
</form><!DOCTYPE html>
</body>
</html>
